<section class = "jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading" id="heading-id">FlixRating</h1>
    <h2>Nominate Your Best Movie of Decades!</h2>
    <p class="text-muted" style="color:white;"> "Please Nominate THREE movies from each decades since 1960s " </p>
    <%= link_to 'Nominate The Movie', new_movie_path, class: 'btn btn-info' %>
  </div>
</section>