/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 /*********Top Bar**********/
 .bg-inverse {
     color: #eceeef;
     background-color: #5A5C5E;
 }

 #navbar{
   padding: 0 20px;
 }
 #topnavbar{
   // padding: 0 20px;
   border-radius: 10px;
 }

 /******* container*******/
 .container {
   width: 100%;
 }

 /******** sign up form********/
 #sign-up-form {
   width:75%;
   padding: 0 auto;
 }

 /**********Jumberton*********/
 .jumbotron {
   padding-top: 6rem;
   padding-bottom: 6rem;
   margin-bottom: 0;
   // background-color: #534E4E;
   border-radius: 10px;
   background-image: url("https://www.planwallpaper.com/static/images/wood_background_hd_picture_3_169844.jpg");
 }

 .jumbotron p:last-child {
   margin-bottom: 0;
 }

 .jumbotron-heading {
   font-weight: 300;
   text-shadow: 0 20px 20px rgba(100,200,20,.34);
 }

 .jumbotron .container {
   max-width: 80rem;
 }

 .text-xs-center {
     text-align: center!important;
     color: white;
     text-shadow: 0px 0px 0 rgb(137,106,213);
 }

